<o-form-layout-manager attr="CustomChallenge" mode="tab" title="CUSTOMCHALLENGE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="CustomChallengeTable" 
            service="CustomChallenge" 
            entity="CustomChallenge" 
            title="CUSTOMCHALLENGE"
            keys="id"
            columns="challenge_name;description;difficulty_level;id" 
            header-actions="R;D"
            visible-columns="challenge_name;description;difficulty_level;id"  
            sort-columns="challenge_name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #challenge_name attr="challenge_name" title=" challenge_name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #description attr="description" title="description" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #difficulty_level attr="difficulty_level" title="difficulty_level" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>