<o-form-layout-manager attr="HydrationSetting" mode="tab" title="HYDRATIONSETTING">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="HydrationSettingTable" 
            service="HydrationSetting" 
            entity="HydrationSetting" 
            title="HYDRATIONSETTING"
            keys="id"
            columns="id;user_id;preferred_times;water_type_preference" 
            header-actions="R;D"
            visible-columns="id;user_id;preferred_times;water_type_preference"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #preferred_times attr="preferred_times" title="preferred_times" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #water_type_preference attr="water_type_preference" title="water_type_preference" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>